.container {
  /* width: 500px; */
  /* width: 80%; */
  height: 500px;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
}

.textarea {
  /* width: 100%; */
  height: auto;
  font-size: 30px;
  resize: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  border-radius: 5px;
  border-width: 0px;
  border-color: #f1f1f1;
  /* line-height: 3ch;
  background-image: linear-gradient(
    transparent,
    transparent calc(3ch - 1px),
    #677381 0px
  );
  background-size: 100% 3ch; */
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
